#auth {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 3em 0;
  font-size: 1.4em;
  position: absolute;
  z-index: 3;
}

#auth input {
  width: 100%;
  border: 1px solid grey;
  padding: 0.3em;
}

#auth button {
  width: 100%;
  font-size: 1.2em;
  color: white;
}

.get_question {
  padding: 1% 0 1% 0;
  margin: 3% 0 3% 0;  
}

#profile-pic {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 1em 0;
}

#play button {
  width: 100%;
}

.mar {
  margin: 0.3em 0;
}

.activo {
  color: #fff;
  display: inline-block;
}

.inactivo {
  color: #fff;
  display: none;
}

#game {
  display: none;
}

.q_w, .q_r {
  width: 100%;
  margin: 5% 0 5% 0; 
  font-size: 1.2em;
}

.result {
  text-align: center;
}

#btn-play {
  position: fixed;
  bottom: 0;
  margin: 0;
  font-size: 2.2em;
  width: 100%;
}


.imgUser {
  width: 18%;
}

#home {
  margin-bottom: 5em;
}

.result h2 {
  margin-top: 0.5em;;
}

#game {
  height: 100vh;
}

.w_result {
  height: 25vh;
  width: 100%;
  background-image: url(../img/wrong_answer.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.r_result {
  height: 25vh;
  width: 100%;
  background-image: url(../img/right_answer.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.result .next {
  margin: 0;
  width: 100%;
  font-size: 1.5em;
}

.result .text-success {
  background: rgb(218, 255, 218);
  border: 2px dashed green;
}

.result .text-danger {
  background: rgb(255, 230, 230);
  border: 2px dashed red;
}

.good_result {
  height: 30vh;
  width: 100%;
  background-image: url(../img/good.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.half_result {
  height: 30vh;
  width: 100%;
  background-image: url(../img/half.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bad_result {
  height: 30vh;
  width: 100%;
  background-image: url(../img/bad.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#home button {
  font-size: 1.5em;
}

#categories button {
  margin: 0.4em 0;
}

.nav-tabs a {
  font-size: 1.5em;
}

.tab-pane {
  margin-top: 1.7em;
}

#difficulty button {
  margin: 0.3em 0;
  padding: 0.5em 0;
  font-size: 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#type label {
  font-size: 2em;
}

table { 
  width: 100%; 
  border-collapse: collapse;
  font-size: 1.5em;
  margin: 1em 0;
}

.btn-categories {
  font-size: 1.2em!important;
}

.question_title {
  background: rgb(255, 255, 219);
  border-radius: 2em;
  padding: 1em;
  margin-top: 1em;
}