#auth {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 3em 0;
  font-size: 1.4em;
  position: absolute;
  z-index: 3;
}

#auth input {
  width: 100%;
  border: 1px solid grey;
  padding: 0.3em;
}

#auth button {
  width: 100%;
  font-size: 1.2em;
  color: white;
}

.get_question {
  padding: 1% 0 1% 0;
  margin: 3% 0 3% 0;  
}

#difficulty-pic {
  width: 100%;
  height: 30vw;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  background-position: center;
}

#play button {
  width: 100%;
}

.mar {
  margin: 0.3em 0;
  border: 2px solid red; 
}

.activo {
  color: #fff:;
  display: inline-block;
}

.inactivo {
  color: #fff:;
  display: none;
}

#game {
  display: none;
}

.q_w, .q_r, .next {
  width: 100%;
  margin: 5% 0 5% 0; 
}